
name: CI

# Controls when the workflow will run
on:

  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]
    
  workflow_dispatch:

jobs:
  get_dependencies:
    name: "Get dependencies"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
      - name: "Print Dart SDK Version"
        run: dart --version
      - uses: actions/cache@v2
        with:
          path: .dart_tool
          key: dart-dependencies-${{ hashFiles('pubspec.yaml') }}
      - name: "Get dependencies"
        env: 
          PUB_CACHE: ".dart_tool/pub_cache"
        run: dart pub upgrade
  
  ensure_formatted:
    name: "Formatting"
    runs-on: "ubuntu-latest"
    container: 
      image: google/dart
    steps:
      - uses: actions/checkout@v2
      - run: "dart format --fix --show none --summary none --output none --set-exit-if-changed lib test tool"
  
  analyze: 
    name: "Analysis"
    needs: get_dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: .dart_tool
          key: dart-dependencies-${{ hashFiles('pubspec.yaml')}}
      - uses: dart-lang/setup-dart@v1
      - run: dart analyze --fatal-infos
  
  vm_tests:
    name: "Unit Tests (Dart VM)"
    needs: get_dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: .dart_tool
          key: dart-dependencies-${{ hashFiles('pubspec.yaml') }}
      - uses: dart-lang/setup-dart@v1
      - run: dart test --coverage test_coverage
      - run: dart run tool/format_coverage.dart
      - uses: codecov/codecov-action@v1
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          file: ./coverage/lcov.info
  
  browser_tests:
    name: "Unit Tests (Browser)"
    needs: get_dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: .dart_tool
          key: dart-dependencies-${{ hashFiles('pubspec.yaml') }}
      - uses: dart-lang/setup-dart@v1
      - run: dart test -x expensive --platform chrome,firefox
  
  integration_tests:
    name: "Integration Tests"
    needs: [get_dependencies]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: .dart_tool
          key: dart-dependencies-${{ hashFiles('pubspec.yaml') }}
      - uses: sliteteam/github-action-git-crypt-unlock@1.2.0
        env:
          GIT_CRYPT_KEY: ${{ secrets.GIT_CRYPT_KEY }}
      - uses: dart-lang/setup-dart@v1
      - run: dart run tool/integration_test.dart
  
